main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  margin: 0px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header {
  position: sticky;
  top: 0;
  padding: 25px;
  margin-bottom: 3rem;
  background-color: #ffffff;
  border-bottom: 1px solid;
}
.card {
  background-color: #f5c8b7;
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 20px;
}

.image {
  background-color: rgb(254, 244, 244);
  height: 300px;
  border-radius: 5%;
  justify-content: center;
}
.image_box {
  background-color: rgb(254, 244, 244);
  display: flex;
  justify-content: center;
}

.logo {
  height: 90px;
}

#aheader {
  color: #a1b795;
  text-decoration: none;
  font-size: 18px;
  margin-right: 100px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

#aheader:hover {
  color: rgb(144, 72, 72);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px 15px;
}

nav:hover {
  color: white;
}

.frontimage {
  background-image: url("/img_forside/img_forside1.webp");
  object-fit: cover;
  height: 500px;
  width: 1200px;
  margin: 2rem;
}

.resp_img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.threeproducts {
  width: 1400px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.hvemervitekst {
  margin: 20px;
  max-width: 65ch;
}
.hvemervi {
  margin-top: 3rem;
  width: 100%;
}

h2 {
  font-size: 30px;
  font-family: "Amatic SC", cursive;
  border-bottom: 1px solid;
  color: #874e39;
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: "Quicksand", sans-serif;
}

.drinksgrid1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f8f6b1;
}

.drinksstruktur {
  display: block;
}

/* Form */
.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 30px;
  margin-top: 40px;
}
.om_os h3 {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.om_os p {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.form_kontakt {
  display: block;
  justify-content: center;
  align-items: center;
}
.form_kontakt h3 {
  color: #f45d49;
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  font-size: 25px;
  text-decoration: none;
}
form {
  width: 70%;
}
@media (min-width: 700px) {
  input[type="text"],
  input[type="tel"] {
    border: none;
    background-color: #fdfcd2;
    border: 0.5px solid lightgrey;
    border-radius: 40px;
    width: 50%;
    padding: 12px;
  }
  #besked {
    border: 0.5px solid lightgrey;
    background-color: #fdfcd2;
    margin-top: 12px;
    margin-bottom: 12px;
    width: 50%;
    border-radius: 40px;
  }

  label {
    color: #f45d49;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
  }
  form button {
    background-color: #fdfcd2;
    font-family: "Quicksand", sans-serif;
    font-weight: 400;
    font-size: 15px;
    padding: 15px;
    border: 0.5px solid lightgrey;
    border-radius: 40px;
    color: #f45d49;
    margin-top: 10px;
    width: 50%;
  }
}

h1 {
  font-family: "Amatic SC", cursive;
}

p {
  font-family: "Quicksand", sans-serif;
}

.drinksstruktur ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.drinksstruktur ul li {
  display: block;
  padding: 8px 40px 8px 0;
  border-bottom: 1px solid #ccc;
  align-items: left;
}
span {
  float: left;
}

.drinksstruktur h2 {
  font-size: 50px;
  font-family: "Amatic SC";
  color: #874e39;
  margin-left: 5em;
  margin-bottom: 0;
  margin-right: 5em;
}

.drinksstruktur h5 {
  margin-left: 0em;
}

.drinksstruktur h1 {
  font-size: 30px;
  font-family: "Amatic SC";
  color: #874e39;
  margin-left: 1.5em;
}

.drinksstruktur p {
  font-family: "Quicksand", sans-serif;
  max-width: 65ch;
  margin: 3em;
}
