main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.card {
  background-color: rgb(81, 197, 97);
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 20px;
}

.image {
  background-color: rgb(104, 81, 81);
  height: 300px;
  border-radius: 5%;
}

.logo {
  height: 50px;
}
header {
  background-color: #514d4d;
}

#aheader {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

#aheader:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px 15px;
}

nav:hover {
  color: white;
}

.frontimage {
  background-color: black;
  height: 600px;
  width: 1400px;
  margin: 2rem;
}

.threeproducts {
  justify-content: center;
  display: flex;
  background-color: antiquewhite;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.hvemervi {
  margin: 20px;
  background-color: aqua;
  max-width: 65ch;
}
