main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.card {
  background-color: #f5c8b7;
  width: 300px;
  height: 500px;
  margin: 20px;
  padding: 20px;
}

.image {
  background-color: rgb(254, 244, 244);
  height: 300px;
  border-radius: 5%;
  justify-content: center;
}
.image_box {
  background-color: rgb(254, 244, 244);
  display: flex;
  justify-content: center;
}

.logo {
  height: 160px;
}

#aheader {
  color: #874e39;
  text-decoration: none;
  font-size: 18px;
  margin-left: 20px;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

#aheader:hover {
  color: rgb(144, 72, 72);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  padding: 10px 15px;
}

nav:hover {
  color: white;
}

.frontimage {
  background-image: url("/img_forside/img_forside1.webp");
  object-fit: cover;
  height: 500px;
  width: 1400px;
  margin: 2rem;
}

.resp_img {
  width: 100%;
  max-width: 900px;
  height: auto;
}

.threeproducts {
  width: 1400px;
  justify-content: center;
  display: flex;
  background-color: antiquewhite;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.hvemervitekst {
  margin: 20px;
  max-width: 65ch;
}
.hvemervi {
  margin-top: 3rem;
  width: 100%;
}
h2 {
  font-size: 30px;
  font-family: "Abril Fatface", cursive;
  border-bottom: 1px solid;
  color: #874e39;
}
a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
}

.drinksgrid1_2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  background-color: #f8f6b1;
}

.drinksstruktur {
  display: block;
}
